.LogoSearch {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

.LogoSearch > img {
  height: 3em;
  border-radius: 50%;
}

.Search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
  height: 2em;
  gap: .2rem;
}

.Search > input {
  background-color: var(--inputBackgroundColor);
  backdrop-filter: var(--inputBackdropFilter);
  font-family: "Raleway" sans-serif;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
  color: white;
}

.Search>input::placeholder {
  color: white;
  font-family: "Raleway";
}

.s-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--buttonBg);
  border-radius: 5px;
  padding: 4px;
  color: white;
}
